In [36]:
import numpy as np
import pandas as pd

In [49]:
with open("05/input.txt") as f:
    (fr, t) = [],[]
    for line in f:
        fromm, too = line.split(" -> ")
        fr.append([int(x) for x in fromm.split(',')])
        t.append([int(x) for x in too.split(',')])
print(fr[:5])
print(t[:5])

[[556, 286], [337, 201], [786, 780], [977, 864], [544, 127]]
[[341, 71], [782, 646], [117, 111], [199, 86], [544, 144]]

In [50]:
df1 = pd.DataFrame(fr)
df2 = pd.DataFrame(t)
print(df1.head(), len(df1), df2.head(), len(df2))

     0    1
0  556  286
1  337  201
2  786  780
3  977  864
4  544  127 500      0    1
0  341   71
1  782  646
2  117  111
3  199   86
4  544  144 500

In [51]:
df = pd.concat([df1, df2], axis=1)
df.columns = ['fx', 'fy', 'tx', 'ty']
df.head()

    fx   fy   tx   ty
0  556  286  341   71
1  337  201  782  646
2  786  780  117  111
3  977  864  199   86
4  544  127  544  144

In [23]:
dfx = df[df['fy']==df['ty']].reset_index(drop=True)
dfy = df[df['fx']==df['tx']].reset_index(drop=True)

print(df.shape, dfx.shape, dfy.shape)
print(dfx.head())
print(dfy.head())

(500, 4) (168, 4) (160, 4)
    fx   fy   tx   ty
0  536  941  158  941
1  397  809  466  809
2   35  706  398  706
3   61   41  519   41
4  800  779  466  779
    fx   fy   tx   ty
0  544  127  544  144
1  539  471  539  972
2  364  765  364  285
3  639  676  639  701
4  158  557  158  922

In [24]:
maxx = max(dfx['fx'].max(), dfx['tx'].max(), dfy['fx'].max(), dfy['tx'].max())
maxy = max(dfx['fy'].max(), dfx['ty'].max(), dfy['fy'].max(), dfy['ty'].max())
n = max(maxx, maxy) + 1
print(maxx, maxy, n)

989 990 990

In [30]:
maize = [[0]*n for _ in [0]*n]
print(len(maize), len(maize[0]), maize[0][0])

991 991 0

In [31]:
for i in range(dfx.shape[0]):
    mn = min(dfx.iloc[i]['fx'], dfx.iloc[i]['tx'])
    mx = max(dfx.iloc[i]['fx'], dfx.iloc[i]['tx'])
    for l in range(mn, mx+1):
        maize[l][dfx.iloc[i]['fy']] += 1
        
for i in range(dfy.shape[0]):
    mn = min(dfy.iloc[i]['fy'], dfy.iloc[i]['ty'])
    mx = max(dfy.iloc[i]['fy'], dfy.iloc[i]['ty'])
    for l in range(mn, mx+1):
        maize[dfy.iloc[i]['fx']][l] += 1

In [33]:
sum([1 for i in range(n) for j in range(n) if maize[i][j]>1])

5145

In [43]:
with open("05/test.txt") as f:
    (fr, t) = [],[]
    for line in f:
        fromm, too = line.split(" -> ")
        fr.append([int(x) for x in fromm.split(',')])
        t.append([int(x) for x in too.split(',')])

df1 = pd.DataFrame(fr)
df2 = pd.DataFrame(t)
df = pd.concat([df1, df2], axis=1)
df.columns = ['fx', 'fy', 'tx', 'ty']
df.head()

   fx  fy  tx  ty
0   0   9   5   9
1   8   0   0   8
2   9   4   3   4
3   2   2   2   1
4   7   0   7   4

In [53]:
maxx = max(df['fx'].max(), df['tx'].max())
maxy = max(df['fy'].max(), df['ty'].max())
n = max(maxx, maxy) + 1

mz = [[0]*n for _ in [0]*n]

for ii in range(df.shape[0]):
    fx = df.iloc[ii]['fx']
    tx = df.iloc[ii]['tx']
    fy = df.iloc[ii]['fy']
    ty = df.iloc[ii]['ty']
    if fy == ty:
        m = min(fx, tx)
        M = max(fx, tx)
        for i in range(m, M+1):
            mz[i][fy] += 1
        continue
    if fx == tx:
        m = min(fy, ty)
        M = max(fy, ty)
        for i in range(m, M+1):
            mz[fx][i] += 1
        continue
    d = abs(tx - fx) + 1
    if fx < tx and fy < ty:
        for i in range(d):
            mz[fx+i][fy+i] += 1
        continue
    if fx < tx and fy > ty:
        for i in range(d):
            mz[fx+i][fy-i] += 1
        continue
    if fx > tx and fy < ty:
        for i in range(d):
            mz[fx-i][fy+i] += 1
        continue

    for i in range(d):
        mz[fx-i][fy-i] += 1

print(sum([1 for i in range(n) for j in range(n) if mz[i][j]>1]))

16518